* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}
body {
  padding: 1.5rem;
  background-color: rgba(164, 171, 189, 0.3);
}
h1,
h3 {
  text-align: center;
  padding: 1.5rem;
}
.container {
  /* height: 25rem; */
  width: 25rem;
  padding: 1.5rem;
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  perspective: 1000px;
}
.cards,
.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  list-style: none;
}
.cards {
  flex-wrap: wrap;
  justify-content: space-between;
  perspective: 1000px;
}
.card {
  transform-style: preserve-3d;
}
.cards .card {
  height: calc(100% / 4 - 10px);
  width: calc(100% / 4 - 10px);
  justify-content: space-between;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  transform: scale(1);
  transition: 0.2s ease-in-out;
  position: relative;
}
.cards .card:active {
  transform: scale(0.97);
}
.card .front-card {
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.card .back-card {
  position: absolute;
  backface-visibility: hidden;
}
.card .front-card img,
.card .back-card img {
  width: 4.5rem;
  border-radius: 5px;
}
.card.flip {
  transform: rotateY(180deg);
}
#start {
  padding: 0.5rem 1rem;
}
#start:hover {
  padding: 0.5rem 1rem;
  background-color: rgba(164, 171, 189, 0.3);
}